node_modules/
package-lock.json
yarn.lock
.pnp/
.pnp.js
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.bash_history
.env
.env.*
.env.local
.env.development
.env.test
.env.production
dist/
build/
out/
.cache/
coverage/
.nyc_output/
tmp/
temp/
*.tmp
*.bak
.vscode/
.idea/
*.sublime-*
.settings/
*.swp
*.swo
.project
.history/
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
desktop.ini
.bashrc
.profile
.vimrc
.viminfo
.lesshst
.wget-hsts
.git-credentials
.dockerignore
.gitmodules
.package.json
.config/
.local/
.npm/
.nvm/
.ssh/
.vscode-server/
.mongodb/
.cursor-server/
/docker-jenkins-backup
/my-node-app/node_modules
/my-node-app/package-lock.json
/my-node-app/.env
/my-node-app/.env.*
/my-node-app/logs
/my-node-app/*.logdata1/
data1/
data2/
data3/

/results/

kubectl.sha256