[user]
	email = sitting077@gmail.com
	name = yejinj

[credential]
	helper = store

[alias]
	docker-mongo = !docker rm -f mongo-test 2>/dev/null || true && docker run -it --rm --name mongo-test --network mongo-net -v $(pwd):/app -w /app node:20-alpine sh

# docker-mongo = !
#  docker rm -f mongo-test 2>/dev/null || true && \
  # docker run -it --rm \ # 새 컨테이너
  # --name mongo-test \
  # --network mongo-net \
  # -v $(pwd):/app \
  # -w /app \
  # node:20-alpine \
  # sh
